
@import url('https://fonts.googleapis.com/css?family=Krub');
@import url('https://fonts.googleapis.com/css?family=Kodchasan');
h1.Titulo{

font-family: 'Krub', monospace;

}
*{
font-family: 'Kodchasan', monospace;
}



input[type=text], select {

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}
input[type=password], select {

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {

    background-color: #FF84C7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #BD096B;
}

#login_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
		margin: 1em;
    margin-top: 3em;
		height: 20%;
}
 /*Barra de navegacion*/
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

 li {
     float: left;
 }

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 li a:hover:not(.active) {
     background-color: #111;
 }

 .active {
     background-color: #FF84C7;
 }
 /*FIN Barra de navegacion*/

  /*Fotos*/
	section{
		-webkit-column-count:3;
		-moz-column-count:3;
		column-count: 2;

	}

/*Formmularios grandes*/
form.form_relleno{
    padding:15px;
}

.titulo:link {
    text-decoration: none;
}

.titulo:visited {
    text-decoration: none;
}

section{
  text-align: center;
  width: 80%;
  float: left;
}
h3{
  text-align: center;
}
aside{
  width: 20%;
  float: right;

}

footer{
  float: left;
  width: 100%;
}
#bLogin{
  text-align: center;
}

body>footer{
	overflow: hidden;
	background-color: #FF84C7;
	color: #fff;
	text-align: center;
	margin-top: 1em;
}
article{
  margin-bottom: 2em;
}

#enlaces_uReg>a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  width: 200px;
  background-color: #f1f1f1;
}
#enlaces_uReg>a.active {
    background-color: #4CAF50;
    color: white;
}
#enlaces_uReg>a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#enlaces_uReg{
  margin-top: 0.5em;
}

#info_foto{
  text-align: center;
  margin-top: 1em;
}

/*Tabla*/
#tabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabla td, #tabla th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
