
@import url('https://fonts.googleapis.com/css?family=Krub');
@import url('https://fonts.googleapis.com/css?family=Kodchasan');

body{
  font-size: 12px;
   font-weight: normal;

}
ul{
  display: none;
}
.sidenav{
  display: none;
}
a:after {
	content:" <" attr(href) ">";

}



/*Esto es lo normal*/
h1.Titulo{

font-family: 'Krub', monospace;

}
*{
font-family: 'Kodchasan', monospace;
}



input[type=text], select {

    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=password], select {

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {

    background-color: #FF84C7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #BD096B;
}


 /*Barra de navegacion*/

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;

 }

 li {
     float: left;
 }

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 21px 16px;
     text-decoration: none;
 }

 li a:hover:not(.active) {
     background-color: #111;
 }

 .active {
     background-color: #FF84C7;
 }
 /*FIN Barra de navegacion*/

  /*Fotos*/
	section{
		-webkit-column-count:3;
		-moz-column-count:3;
		column-count: 2;

	}

/*Formmularios grandes*/
form.form_relleno{
    padding:15px;
}
.titulo{
  color: #3E3E3E
}
.titulo:link {
    text-decoration: none;
}

.titulo:visited {
    text-decoration: none;
}

section{
  text-align: center;
  width: 80%;
  float: left;
}
h3{
  text-align: center;
}
aside{
  width: 20%;
  float: right;

}

footer{
  float: left;
  width: 100%;
}
#bLogin{
  text-align: center;
}

body>footer{
	overflow: hidden;
	background-color: #FF84C7;
	color: #fff;
	text-align: center;
	margin-top: 1em;
}
article{
  margin-bottom: 2em;
}

#enlaces_uReg>a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  width: 200px;
  background-color: #f1f1f1;
}
#enlaces_uReg>a.active {
    background-color: #4CAF50;
    color: white;
}
#enlaces_uReg>a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#enlaces_uReg{
  margin-top: 0.5em;
}

#info_foto{
  text-align: center;
  margin-top: 1em;
}

/*Tabla*/
#tabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabla td, #tabla th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#solicitar_album{
  text-align: justify;
  width:800px;
  margin:0 auto;
}
#form_registro{
  width:800px;
  margin:0 auto;
  text-align: justify;
}
#form_buscar{
  text-align:  justify;
  width:800px;
  margin:0 auto;
}



/* Style the input container */
.login_container {
  float: right;
  margin-right: 1em;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login_container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login_container button:hover {
  background: #ccc;
}
